spring.application.name=animal-shelter-management
spring.datasource.url=jdbc:postgresql://localhost:5432/animal_shelter
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver
server.port=8081
